
<% include partials/header %>
<h1><%= campground.name%> </h1>
<div>  
<img src ="<%= campground.image %>"> </div>
<div>    <%=campground.description%></div>
<% campground.comments.forEach(function(comment){%>
 <p> <strong><%= comment.author%></strong> - <%= comment.text %></p>
<% }) %>
<% include partials/footer %>